.cover-quote {
	text-shadow: 1px 1px 3px black;
	position: relative;

	@include screen-x(1024px) {
		width: calc(100% - 80px);
	}

	&:before {
		position: absolute;
		font-size: 6em;
		line-height: 1;
		top: -10px;
		left: 0;
		content: "\201C";
		color: $color-theme;
	}

	&:after {
		position: absolute;
		float: right;
		font-size: 6em;
		line-height: 1;
		right: 0;
		bottom: -40px;
		content: "\201D";
		color: $color-theme;
	}

	footer {
		padding-top: 10px;
		padding-right: 15px;
		text-align: right;
	}
	
	cite:before {
		content: "\2013";
		margin-right: 10px;
	}
}