.cover {
	position: relative;
	margin-top: 76px;
	height: calc(100vh - 76px);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
	background: rgb(20, 20, 20);
	
	&__container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: rgb(30, 30, 30);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
		
		@include screen-x(900px) {
			width: 100%;
		}
	}

	&__content {
		position: absolute;
		top: 0;
	}
}