.get-in-touch {
	padding-top: 76px;

	&__box {
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
	}

	.box {
		// width: calc(100% / 3);
		min-height: 380px;
	}

	.list {
		flex-wrap: wrap;
	}

	.msg {
		flex: 1;
		@include screen-x(1200px) {
			min-width: 100%;
			width: 100%;
			min-height: auto;
			height: auto;
		}
	}

	.reach {
		width: calc(100% / 3);
		@include screen-x(1200px) {
			flex: 1;
		}
		@include screen-x(800px) {
			width: 100%;
			min-height: auto;
			height: auto;
			margin-bottom: 20px;
		}
	}

	.lets-meet {
		@include screen-x(1200px) {
			width: auto;
		}
		@include screen-x(800px) {
			width: 100%;
		}
	}
}