/*
	Import project styles from here
*/

@import "./fastui.css";
@import "./vars.scss";
@import "./mixins.scss";

.theme {
    color: $color-theme;
}

.bg-theme {
    background: $color-theme;
}

.theme2 {
    color: $color-theme2;
}

.bg-theme2 {
    background: $color-theme2;
}

blockquote {
    margin: 0;
}

.container {
    @include flex-row(initial, flex-start);
    width: 1400px;
    margin: auto;
    
    @include screen-x(1700px) {
        width: 1000px;
    }

    @include screen-x(1400px) {
        width: 90%;
    }
}

@import "./Navbar.scss";
@import "./Cover.scss";
@import "./CoverBottom.scss";
@import "./CoverQuote.scss";
@import "./ProfileCard.scss";
@import "./Cover.scss";
@import "./CoverRight.scss";
@import "./Section.scss";
@import "./JourneyCard.scss";
@import "./JourneyItem.scss";
@import "./JourneyLine.scss";
@import "./JourneyMore.scss";
@import "./Copyright.scss";
@import "./GetInTouch.scss";
@import "./SendMessage.scss";
@import "./GetInTouchTitle.scss";
@import "./Contacts.scss";
@import "./Games.scss";
@import "./Journey.scss";
