.journey-card {
	width: calc(50% - 43px);
	height: 270px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

	@include screen-x(1200px) {
		flex: 1;
		width: auto;
	}

	@include screen-x(600px) {
		flex-direction: column;
		width: 270px;
		height: auto;
		margin: auto;
		padding-bottom: 10px;
	}

	&:hover {
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
	}

	&__about {
		flex: 1;
	}

	&__separator {
		width: calc(100% - 20px);
		height: 1px;
		background: rgb(200, 200, 200);
	}

	&__years,
	&__years2 {
		color: rgb(180, 180, 180);
	}

	&__years {
		@include screen-x(1200px) {
			display: none;
		}
		@include screen-x(650px) {
			display: block;
		}
	}

	&__years2 {
		display: none;
		@include screen-x(1200px) {
			display: block;
		}
		@include screen-x(650px) {
			display: none;
		}
	}
	
	&__establishment {
		position: absolute;
		bottom: -100%;
		background: rgba(0, 0, 0, 0.6);
	}

	&__representation {
		position: relative;
		&:hover {
			.journey-card__establishment {
				bottom: 0;
			}
		}
	}
}