.meet {
	height: calc(380px - 20px);

	.checkout {
		border: 3px $color-theme solid;
		background: transparent;
		box-shadow: 3px 3px 8px black;
		text-shadow: 1px 1px 2px black;
		background: rgba(0, 0, 0, 0.7);
		&:hover {
			border: 3px white solid;
			color: white;
		}
		&:active {
			font-weight: bold;
		}
	}

	&__box {
		position: relative;
		width: 318px;
		height: 267px;
		background: rgb(240, 240, 240);
	}

	&__content {
		position: absolute;
		top: 0;
		z-index: 2;
		.text {
			text-shadow: 1px 1px 2px black;
			background: rgba(0, 0, 0, 0.7);
		}
	}
}