.navbar {
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 13;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);

	.logo {
		transition: all 0.6s ease-in-out;
		box-shadow: 3px 3px 6px black;
		transform-style: preserve-3d;
		animation: 5s animFlip linear infinite;
		animation-delay: 2.3s;
		@keyframes animFlip {
			from {
				transform: rotate3d(0, 1, 0, 0deg);
			}
			to {
				transform: rotate3d(0, 1, 0, 360deg);
			}
		}
	}

	.char {
		opacity: 0;
		text-shadow: 0px 0px 10px white;
		&--visible {
			opacity: 1;
			text-shadow: 1px 1px 3px black;
		}
	}

	.cube {
		opacity: 0;
		background: white;
		transition: opacity 0.2s ease-out;
		transition: box-shadow, background 1.4s ease-in-out;
		&--shine {
			opacity: 1;
			box-shadow: 0px 0px 10px white;
		}
		&--show {
			opacity: 1;
			background: $color-theme;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
		}
	}

	.title {
		position: relative;
		&-shadow {
			position: absolute;
			top: 0;
			z-index: -1;
			color: rgb(20, 20, 20);
		}
	}
}